.container {
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 10px;
  height: 600px;
  min-width: 500px;
}
.title {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.projectTitle {
  color: #166adc;
}
.imgDiv {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  margin: 20px auto;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.textDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nickname {
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
}
.email {
  color: black;
  margin-bottom: 10px;
}
.buttonContainer {
  text-align: center;
}
button {
  width: 150px;
  height: 50px;
  background-color: #166adc;
  border-radius: 10px;
  color: white;
  margin-top: 50px;
}