.center{
  text-align: center;
}

.container {
    border-color: #166adc;
    border-radius: 20px;
    border-width: 1px;
    border-style: dashed;
    height: 380px;
    /* min-width: 700px; */
    width: 700px;
    display: inline-block;
    text-align: center;
    overflow-y: auto;   
  }
  .list {
    height: 400px;
    width: 450px;
    /* background-color: beige; */
    margin-top: 15px;
    margin-left: 15%;
    /* text-align: center;/ */
    text-align: left;
    font-size: large;
  }
  
  ul {
    text-align: left;
    font-size: large;
  }
  
  .search-user{
    margin: 20px;
    width: 400px;
    height: 50px;
    background-color: #80808021;
    border-radius: 10px;
  }

  .checkbox {
    margin-left: 30%;
    margin-top: 20px;
  }

  label {
    margin-left: 15px;
  }
  .clickbutton {
    margin-left: 10px;
  }

  .btn {
    margin: 10px;
  }

  .search {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-left: 5%;
  }

  .add{
    text-align: center;
    margin-top: 15px;
  }