.container {
  border-color: #166adc;
  border-radius: 20px;
  border-width: 1px;
  border-style: dashed;
  padding: 10px;
  height: 600px;
  min-width: 700px;
  overflow: auto;
}
.container::-webkit-scrollbar {
  width: 10px;
}
.container::-webkit-scrollbar-thumb {
  background-color: #166adc;
  border-radius: 10px;
}
.project {
  width: 30%;
  height: 150px;
  background-color: #d9d9d9;
  border-radius: 10px;
  text-align: center;
  max-width: 1000px;
  float: left;
  margin: 1.5%;
}
.title {
  font-weight: bold;
  display: block;
}
.content{
  display: block;
  overflow: hidden;
  height: 50%;
}
.startDate {
  display: block;
}
.endDate {
  display: block;
}
.buttonBox {
  text-align: center;
  width: 100%;
  clear: both;
}
.button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background-color: #166adc;
  border-radius: 10px;
  color: white;
  margin: auto;
}